@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using App.Domain.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BattleBrushProgress</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@App.Resources.Views.Shared._Layout.Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/swagger">Api</a>
                    </li>
                    
                    @*Kasutaja*@
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="javascript:{}" id="userDropdwon"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">@App.Resources.Views.Shared._Layout.User</a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.Person"
                                   asp-action="Index">Person</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniatureCollection"
                                   asp-action="Index">MiniatureCollection</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.PersonPaints"
                                   asp-action="Index">PersonPaints</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniPaintSwatch"
                                   asp-action="Index">MiniPaintSwatch</a>
                            </div>
                        </li>
                    }
                    @*Administrator*@
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="javascript:{}" id="adminDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">@App.Resources.Views.Shared._Layout.Admin</a>
                            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.Person"
                                   asp-action="Index">Person</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniatureCollection"
                                   asp-action="Index">MiniatureCollection</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.PersonPaints"
                                   asp-action="Index">PersonPaints</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniPaintSwatch"
                                   asp-action="Index">MiniPaintSwatch</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.Miniature"
                                   asp-action="Index">Miniature</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniFaction"
                                   asp-action="Index">MiniFaction</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniManufacturer"
                                   asp-action="Index">MiniManufacturer</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniProperties"
                                   asp-action="Index">MiniProperties</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.MiniState"
                                   asp-action="Index">MiniState</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.Paint"
                                   asp-action="Index">Paint</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.PaintLine"
                                   asp-action="Index">PaintLine</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.PaintType"
                                   asp-action="Index">PaintType</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="@App.Resources.Views.Shared._Layout.Brand"
                                   asp-action="Index">Brand</a>
                                
                                <hr class="dropdown-divider">

                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="Users"
                                   asp-action="Index">Users</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="Roles"
                                   asp-action="Index">Roles</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="UserRoles"
                                   asp-action="Index">User Roles</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="RefreshTokens"
                                   asp-action="Index">Refresh Tokens</a>

                                <hr class="dropdown-divider">
                                
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="UserManagement"
                                   asp-action="Index">User Management</a>

                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Base.Resources.Common.Privacy</a>
                    <li class="nav-item">
                        <span class="nav-link text-dark">|</span>
                    </li>
                    
                    <partial name="_LanguageSelection"/>
                    
                </ul>
                <partial name="_LoginPartial"/>
                
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
        <a href="/swagger">Api</a> |
        @Thread.CurrentThread.CurrentCulture.Name | @Thread.CurrentThread.CurrentUICulture.Name
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>