@model App.Domain.Miniature

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Miniature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniFaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniFaction!.FactionDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniProperties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniProperties!.PropertyDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniManufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniManufacturer!.ContactEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
