@model App.DAL.DTO.MiniatureCollection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MiniatureCollection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcquisitionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquisitionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miniature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miniature!.MiniDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniState!.StateDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person!.PersonName)
        </dd>
        @* <dt class = "col-sm-2"> *@
        @*     @Html.DisplayNameFor(model => model.User) *@
        @* </dt> *@
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.User!.Id) *@
        @* </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
