@model App.Domain.Miniature

@{
    ViewData["Title"] = "Miniature Details";
}

<h1>Miniature Details</h1>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MiniName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MiniName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MiniDesc)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MiniDesc)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MiniFaction)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MiniFaction!.FactionName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MiniProperties)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MiniProperties!.PropertyName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MiniManufacturer)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MiniManufacturer!.ManufacturerName)</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>